<div id="step2Screen" class="screen hidden">

<div class="pageBar table">
<div class="row">
<div class="cell clickable" style="width:10%">
<span class="whiteGreen" style="margin-left:5px;" onclick="skip(1)">Back</span>
</div>
<div class="cell center" style="width:80%">
<span class="whiteGreen" style="color:#CCFFCC;">Step 2:</span> Where are you okay eating at?
</div>
<div class="cell" style="width:10%">
&nbsp;
</div>
</div>
</div>

<div class="fnf-back1" style="padding-top:20px">

<div class="table offset5 width90" style="border:1px solid #AAA;border-bottom:0px;">
	<div class="row">
		<div id="diningTab" class="cell center width50 clickable tab activeTab" style="border-right:1px solid #AAA;" onclick="showDining()">
			Dining Halls
		</div>
		<div id="nondiningTab" class="cell center width50 clickable tab" onclick="showNondining()">
			Non-dining halls
		</div>
	</div class="row">
</div>

<div class="offset5 width90" style="border:1px solid #AAA;padding-top:10px;padding-bottom:10px;border-top:0px;">

	<a class="offset5 clickable" onclick="selectAllDining(true)">select all</a><a class="offset5 clickable" onclick="selectAllDining(false)">deselect all</a>

	<div class="offset5" style="margin-top:10px;">

		<div id="diningOptions" class="table">
		    {{#each dining}}
			<div class="row">

				<div class="cell">
					<div class="onoffswitch">
					    <input type="checkbox" name="step2_d{{id}}" class="onoffswitch-checkbox fixed hidden" id="step2_d{{id}}"  style="opacity:0;" checked>
					    <label class="onoffswitch-label" for="step2_d{{id}}"></label>
					</div>
				</div>
				<div class="cell toggleCell">
					{{name}}
				</div>
			</div>
		    {{/each}}
		</div>

		<div id="nondiningOptions" class="table" style="display:none">
		    {{#each nondining}}
			<div class="row">

				<div class="cell">
					<div class="onoffswitch">
					    <input type="checkbox" name="step2_n{{id}}" class="onoffswitch-checkbox fixed hidden" id="step2_n{{id}}"  style="opacity:0;" checked>
					    <label class="onoffswitch-label" for="step2_n{{id}}"></label>
					</div>
				</div>
				<div class="cell toggleCell">
					{{name}}
				</div>
			</div>
		    {{/each}}
		</div>

	</div>
</div>

<div class="top20">&nbsp;</div>


</div>

<div class="underBar underSteps">
	<div class="row">
	<div class="cell clickable" style="width:10%">
	<span style="margin-left:5px;"><button class="fnf-second-button" onclick="sendStep2()">skip</button></span>
	</div>
	<div class="cell center" style="width:80%">

	<div class="bullet"></div>
	<div class="filledBullet bullet"></div>
	<div class=" bullet"></div>
	<div class=" bullet"></div>

	</div>
	<div class="cell" style="width:10%">
	<button class="fnf-button" style="margin-right:4px;" onclick="sendStep2()">continue</button>
	</div>
	</div>
</div>



<div class="underBar underSettings2 hidden">
	<div class="row">
	<div class="cell clickable" style="width:10%">
	<span style="margin-left:5px;"><button class="fnf-second-button" onclick="mains();swap(4);">cancel</button></span>
	</div>
	<div class="cell center" style="width:80%">

	

	</div>
	<div class="cell" style="width:10%">
	<button class="fnf-button" style="margin-right:4px;" onclick="sendStep2(true)">save</button>
	</div>
	</div>
</div>

</div>